/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap');
:root
{
    --main-color:#0aad0a;
    --light-color:#f0f3f2;
    --shadow: rgba(145,158,171,.2) 0px 2px 4px -1px,rgba(145,158,171,.14) 0px 4px 5px 0px,rgba(145,158,171,.12) 0px 1px 10px 0px;
    --font-family:'Encode Sans Expanded', sans-serif;
    --rating-color:#ffc908;
}

body{
    font-family: var(--font-family) !important;
}
.rating-color
{
    color: var(--rating-color);
}
.cursor-pointer
{
    cursor: pointer;
}
a , a:hover{
    color: black;
    text-decoration: none;
}

.active {
    color: var(--main-color) !important;
    font-weight: 900;
}

.product:hover
{
    box-shadow: var(--shadow);
    border: solid 1px var(--main-color);
}
.product .btn 
{
    transition: transform 1s , opacity 1s;
    transform: translateY(100%);
    opacity: 0;
}
.product:hover .btn 
{
    opacity: 1;
    transform: translateY(0%);

}
.font-sm
{
    font-size: 14px;
}
.text-main
{
    color: var(--main-color);
}
.bg-main
{
    background-color: var(--main-color) !important;
}
.bg-main-light 
{
    background-color: var(--light-color) !important;
}

.loading{
    z-index: 405;
}

.container-fluid {
    --bs-gutter-x: 5rem;
}

.page-link {
    color: var(--main-color) !important;
}

.nav-link:focus-visible {
    box-shadow: none !important;
}

.owl-dots {
    display: flex !important;
    justify-content: center !important;
}
.owl-carousel button.owl-dot {
    background-color: #D6D6D6 !important;
    width: 17px !important;
    height: 5px !important;
    border-radius: 20px!important;
    margin-inline: 4px !important;
    margin-top: 8px !important;
    margin-bottom: 8px !important;
    padding: 7px !important;   
}

.owl-carousel button.owl-dot:hover {
    background-color: #869791 !important;
    color: #fff;
    text-decoration: none;
}

.nav-item .position-relative span {
    top: 4px;
}

.cart-line {
    border-bottom: 2px solid #dee2e6 !important;
    width: 90% !important;
    margin: auto;
}

.network {
    background-color: #f0f3f2;
    color: red;
    position: fixed;
    bottom: 15px;
    left: 15px;
    z-index: 10001;
}
